<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시 해야한다 -->
<!-- professor 테이블에 대한 CRUD 기능을 구현하기 위함 Mapper -->
<mapper namespace="SellerNameMapper">
	<!-- Beans 클래스의 객체 이름(id)과 클래스 이름 (type)을 명시한다 -->
	<resultMap id="SellerName" type="com.badaservice.model.SellerName">
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="userId" column="user_id" />
		<result property="postcode" column="postcode" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="email" column="email" />
		<result property="tel" column="tel" />
		<!-- <result property="state" column="state" />-->
		<result property="itemTitle" column="item_title" />
		<result property="price" column="price" />
		<result property="regData" column="reg_data" />
		<result property="itemImg" column="item_img" />
		<result property="sellerName" column="sellerName" />
		<result property="myId" column="myId" />
	</resultMap>

	<!-- 구매 목록에 대한 조회 -->
	<select id="buyList" parameterType="com.badaservice.model.SellerName"
		resultMap="SellerName">
		SELECT i.id as id,i.item_title as item_title,i.price as price,
		i.reg_data as reg_data,i.item_img as item_img,c.myId as myId,
		m.name as sellerName
				FROM item_order as i
				INNER JOIN cart as c
				ON i.id = c.item_order_id
    			INNER JOIN member as m
    			ON i.member_id = m.id
				WHERE myId =#{myId}
				ORDER BY id DESC
				LIMIT #{limitStart}, #{listCount};
	</select>
	
	<!-- 전체 게시물 수를 조회한다. -->
	<select id="selectBuyCount" parameterType="com.badaservice.model.SellerName"
		resultType="int">
		SELECT COUNT(i.id) as id, c.myId as myId 
        FROM item_order as i 
        inner join cart as c
        on i.id = c.item_order_id
        where myId =#{myId}
	</select>
</mapper>