<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시 해야한다 -->
<!-- professor 테이블에 대한 CRUD 기능을 구현하기 위함 Mapper -->
<mapper namespace="ShopMapper">
	<!-- Beans 클래스의 객체 이름(id)과 클래스 이름 (type)을 명시한다 -->
	<resultMap id="shop" type="com.badaservice.model.Shop">
		<result property="id" column="id" />
		<result property="item_title" column="item_title" />
		<result property="content" column="content" />
		<result property="price" column="price" />
		<result property="reg_date" column="reg_date" />
		<result property="item_image" column="item_image" />
		<result property="member_id" column="member_id" />
		<result property="category" column="category" />
		<result property="hit" column="hit" />
		<result property="dropDown" column="drop_down" />
	</resultMap>

	<!-- 게시물 업데이트 -->
	<insert id="insertItem" parameterType="com.badaservice.model.Shop"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO item_add(
		item_title,
		category,price,item_image,content,
		reg_date,member_id,hit
		)VALUES(
		#{item_title},#{category}, #{price}, #{item_image}, '이렇게',
		now(),#{member_id},#{hit}
		)
	</insert>
	
	<!-- 카트에 넣을 아이템 조회 -->
	<select id="selectCartItemList" parameterType="com.badaservice.model.Shop"
			resultMap="shop">
			SELECT id, item_title, price, item_image, member_id
			FROM item_add
			WHERE id=#{id}		
			
	</select>

	<!-- 게시물 목록을 조회한다 -->
	<select id="selectItemList" parameterType="com.badaservice.model.Shop"
		resultMap="shop">
		SELECT id, item_title,price,item_image,hit,member_id,category
		FROM item_add
		<where> 
	 		<if test="item_title != null or content != null">
	 			<if test="item_title != null">
	 				item_title LIKE concat('%', #{item_title}, '%')
	 			</if>

				<if test="content != null">
	 				OR content LIKE concat('%',#{content}, '%')
	 			</if>	 			
	 		</if>
	 	</where>
		<choose>
			<when test="dropDown==2">
				ORDER BY hit DESC
			</when>
			<when test="dropDown==3">
				ORDER BY price ASC
			</when>
			<when test="dropDown==4">
				ORDER BY item_title ASC
			</when>
			<otherwise>
				ORDER BY reg_date DESC
			</otherwise>
		</choose>
		
		LIMIT #{limitStart},#{listCount};
	</select>

	<!-- 전체 게시물 수를 조회한다. -->
	<select id="selectItemCount" parameterType="com.badaservice.model.Shop"
		resultType="int">
		SELECT COUNT(id) FROM item_add

	</select>
	<!-- 카테고리별 게시물 수를 조회한다. -->
	<select id="selectCaItemCount" parameterType="com.badaservice.model.Shop"
		resultType="int">
		SELECT COUNT(id) FROM item_add

	</select>
	
<!-- 조회수 -->
	<insert id="updeteItemHit" 
	 parameterType="com.badaservice.model.Shop">
	 	UPDATE item_add SET hit= hit+1 WHERE id=#{id}
	 </insert>
<!-- 카테고리별 게시물 목록 -->	 

<select id="selectItemCategoryList" parameterType="com.badaservice.model.Shop"
		resultMap="shop">
		SELECT id, item_title,price,item_image,hit,member_id,category
		FROM item_add
		WHERE category=#{category}
		<if test="item_title != null or content != null">
			AND(
			<if test="item_title != null">
				item_title LIKE concat('%', #{item_title}, '%')
			</if>

			<if test="content != null">
				OR content LIKE concat('%', #{content}, '%')
			</if>
			)
		</if>
		
		<choose>
			<when test="dropDown==1">
				ORDER BY reg_date DESC
			</when>
			<when test="dropDown==2">
				ORDER BY hit DESC
			</when>
			<when test="dropDown==3">
				ORDER BY price ASC
			</when>
			<otherwise>
				ORDER BY reg_date DESC
			</otherwise>
		</choose>
		
		LIMIT #{limitStart},#{listCount};
	</select>


</mapper>
